/* Our default values set as CSS variables */
:root {
  --color-bg: #1f8bb7;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Tahoma";
  --font-family-header: "serif";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: "Tahoma", serif;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
  cursor: pointer;
}

@font-face {
  font-family: "Arial";
  src: url("https://cdn.glitch.global/c0e804fa-f500-46aa-88e7-c70999b4319c/ARIAL.TTF")
    format ("ttf");
}


body {
  padding:0px;
  margin:0px;
  font-family: serif;
  background-color: var(--color-bg);
}

/*We take care of the header*/
header{
  background-color: #08698f;
  width:100%;
  text-align: center;
  display: inline-block;
}

.banderolle{
  display: inline-block;
  font-size: medium;
  color: red;
}

.title {
  color: #000000;
  display:inline-block;
  font-family: 'Playfair Display SC', serif;
  font-style: small;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
  vertical-align:center;
}

#logoVerivue{
  text-align: center;
  padding: auto;
  justify-content: center;
  height:100%;
  width:15%;
  max-width:25%;
  max-height:10;
  overflow: hidden;
  vertical-align:center;
}

h1 {
  font-family: "Tahoma", serif;
  text-align: center;
}


/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*Text over image*/
.Welcome{
  font-family: "Tahoma", serif;
  text-align: center;
  height:85vh;
  background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("https://cdn.glitch.global/c0e804fa-f500-46aa-88e7-c70999b4319c/eye-g88d108430_1920.jpg?v=1652775483803");
  background-size: cover;
  color: white;
}
#slogan{
  font-size:350%;
  vertical-align:center;
  padding-bottom:5%;
  color:white;
}
.Welcome p {
  color:white;
  font-size:150%;
  padding-bottom:5%;
}

.Welcome button {
  background: #05800f;
  height:10vh;
  width:30vw;
  font-size:100%;
  cursor:pointer;
}

.Welcome button:hover {
  background: #04b012;
  height:10vh;
  font-size:105%;
  width:30vw;
}
/* Instructions */
.instructions {
  margin: 1rem auto 0;
}


.Diseases {
  color: #000000;
  font-family: "Tahoma", serif;
  text-align: center;
}

/* Interactive image */
#logoVerivue:active {
  transform: translateY(5px);
}

.dipped {
  transform: translateY(5px);
}
