/* Our default values set as CSS variables */
:root {
  --color-bg: #1f8bb7;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Tahoma";
  --font-family-header: "serif";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

@font-face {
  font-family: "Arial";
  src: url("https://cdn.glitch.global/c0e804fa-f500-46aa-88e7-c70999b4319c/ARIAL.TTF")
    format ("ttf");
}

body {
  padding:0px;
  margin:0px;
  font-family: serif;
  background-color: #1f8bb7;
  overflow-x: hidden;
}


/*We take care of the header*/
header{
    background-color: #08698f;
    width:100vw;
    text-align: center;
    height: 15vh;
    display:flex;
    text-align: center;
    align-items : center;
    justify-content:center;
    vertical-align:center;
}

#logoType{
    align-items: center;
    justify-content:center;
    display: inline-block;
    text-align: center;
    width:5%;
    vertical-align: center;
}

#title {
  color: #000000;
  text-align: center;
  display:inline-block;
  font-family: 'Playfair Display SC', serif;
  font-size: 10vh;
  line-height: 105%;
  margin: 0;
  align-items: center;
  vertical-align:center;
}

#logoVerivue{
    align-items: center;
    display: inline-block;
    text-align: center;
    width:10vh;
    vertical-align: center;
}


footer>#footerLine {
  border: solid black 1px;
  margin-top: 20px;
  width:90vw;
  margin-bottom: 10px;
  margin-left: 75px;
  margin-bottom: 10px;
}

footer{
  width:100vw;
  color: #000000;
  font-family: "Tahoma", serif;
  text-align: center;
}

footer>p{
  font-style: italic;
}

footer>a{
  color: black;
  text-decoration: underline;
}

footer>a:hover{
  color: rgb(184, 210, 219);
}

footer>a:visited{
  color: purple;
}



/* MAIN CONTENT */



/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #000000;
  font-family: "Playfair Display SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: "Tahoma", serif;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
  cursor: pointer;
}

h1 {
  font-family: "Tahoma", serif;
  text-align: center;
}

h2 {
  font-family: "Tahoma", serif;
  text-align: center;
}

p {
  font-family: "Tahoma", serif;
  text-align: center;
}

/* Subheading */
#select_answer {
  color: #000000;
  font-family: "Tahoma", serif;
  text-align: center;
  font-size: 20px;
}

.buttons {
  color: #000000;
  font-family: "Tahoma", serif;
  text-align: center;
  margin-bottom: 30px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #106dc9;
  color: black;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #3b8cdb;
  color: black;
}

/* Modal Content */
.modal-content {
  text-align: center;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#imgExplain {
  width: 25%;
  text-align: center;
  margin: auto;
  display: flex;
}



/* Interactive image */
#logoVerivue:active {
  transform: translateY(5px);
}

.dipped {
  transform: translateY(5px);
}